<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_4.dtd" >
-->

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetCustomersController</servlet-name>
  	<display-name>GetCustomersController</display-name>
  	<description></description>
  	<servlet-class>resources.GetCustomersController</servlet-class>
  </servlet>
  <servlet>
  	<display-name>LoginController</display-name>
  	<servlet-name>LoginController</servlet-name>
  	<description></description>
  	<servlet-class>resources.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutController</display-name>
  	<servlet-name>LogoutController</servlet-name>
  	<servlet-class>resources.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetBidController</display-name>
  	<servlet-name>GetBidController</servlet-name>
  	<servlet-class>resources.GetBidController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddEmployeeController</display-name>
  	<servlet-name>AddEmployeeController</servlet-name>
  	<servlet-class>resources.AddEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetEmployeesController</display-name>
  	<servlet-name>GetEmployeesController</servlet-name>
  	<servlet-class>resources.GetEmployeesController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditEmployeeController</display-name>
  	<servlet-name>EditEmployeeController</servlet-name>
  	<servlet-class>resources.EditEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateEmployeeController</display-name>
  	<servlet-name>UpdateEmployeeController</servlet-name>
  	<servlet-class>resources.UpdateEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteEmployeeController</display-name>
  	<servlet-name>DeleteEmployeeController</servlet-name>
  	<servlet-class>resources.DeleteEmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetSalesReportController</display-name>
  	<servlet-name>GetSalesReportController</servlet-name>
  	<servlet-class>resources.GetSalesReportController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetItemsController</display-name>
  	<servlet-name>GetItemsController</servlet-name>
  	<servlet-class>resources.GetItemsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetBestsellersController</display-name>
  	<servlet-name>GetBestsellersController</servlet-name>
  	<servlet-class>resources.GetBestsellersController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetHighestRevenueController</display-name>
  	<servlet-name>GetHighestRevenueController</servlet-name>
  	<servlet-class>resources.GetHighestRevenueController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetHighestRevenueCustomerController</display-name>
  	<servlet-name>GetHighestRevenueCustomerController</servlet-name>
  	<servlet-class>resources.GetHighestRevenueCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetSummaryListingController</display-name>
  	<servlet-name>GetSummaryListingController</servlet-name>
  	<servlet-class>resources.GetSummaryListingController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetItemSuggestionsController</display-name>
  	<servlet-name>GetItemSuggestionsController</servlet-name>
  	<servlet-class>resources.GetItemSuggestionsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetCustomerMailingListController</display-name>
  	<servlet-name>GetCustomerMailingListController</servlet-name>
  	<servlet-class>resources.GetCustomerMailingListController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditCustomerController</display-name>
  	<servlet-name>EditCustomerController</servlet-name>
  	<servlet-class>resources.EditCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteCustomerController</display-name>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<servlet-class>resources.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAuctionsController</display-name>
  	<servlet-name>GetAuctionsController</servlet-name>
  	<servlet-class>resources.GetAuctionsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BidHistoryController</display-name>
  	<servlet-name>BidHistoryController</servlet-name>
  	<servlet-class>resources.BidHistoryController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetCustomerAuctionsController</display-name>
  	<servlet-name>GetCustomerAuctionsController</servlet-name>
  	<servlet-class>resources.GetCustomerAuctionsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PersonalizedSuggestionsController</display-name>
  	<servlet-name>PersonalizedSuggestionsController</servlet-name>
  	<servlet-class>resources.PersonalizedSuggestionsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetOpenAuctionsController</display-name>
  	<servlet-name>GetOpenAuctionsController</servlet-name>
  	<servlet-class>resources.GetOpenAuctionsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RecordSaleController</display-name>
  	<servlet-name>RecordSaleController</servlet-name>
  	<servlet-class>resources.RecordSaleController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAuctionHistoryController</display-name>
  	<servlet-name>GetAuctionHistoryController</servlet-name>
  	<servlet-class>resources.GetAuctionHistoryController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetSellersController</display-name>
  	<servlet-name>GetSellersController</servlet-name>
  	<servlet-class>resources.GetSellersController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetItemsBySellerController</display-name>
  	<servlet-name>GetItemsBySellerController</servlet-name>
  	<servlet-class>resources.GetItemsBySellerController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchItemsController</display-name>
  	<servlet-name>SearchItemsController</servlet-name>
  	<servlet-class>resources.SearchItemsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchItemsByNameController</display-name>
  	<servlet-name>SearchItemsByNameController</servlet-name>
  	<servlet-class>resources.SearchItemsByNameController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchItemsByTypeController</display-name>
  	<servlet-name>SearchItemsByTypeController</servlet-name>
  	<servlet-class>resources.SearchItemsByTypeController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetBestsellersForCustomerController</display-name>
  	<servlet-name>GetBestsellersForCustomerController</servlet-name>
  	<servlet-class>resources.GetBestsellersForCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BidInAuctionController</display-name>
  	<servlet-name>BidInAuctionController</servlet-name>
  	<servlet-class>resources.BidInAuctionController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SubmitBidController</display-name>
  	<servlet-name>SubmitBidController</servlet-name>
  	<servlet-class>resources.SubmitBidController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetSalesController</display-name>
  	<servlet-name>GetSalesController</servlet-name>
  	<servlet-class>resources.GetSalesController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddCustomerController</display-name>
  	<servlet-name>AddCustomerController</servlet-name>
  	<servlet-class>resources.AddCustomerController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateCustomerController</display-name>
  	<servlet-name>UpdateCustomerController</servlet-name>
  	<servlet-class>resources.UpdateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetCustomersController</servlet-name>
  	<url-pattern>/getCustomers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBidController</servlet-name>
  	<url-pattern>/getBid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEmployeeController</servlet-name>
  	<url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetEmployeesController</servlet-name>
  	<url-pattern>/getEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditEmployeeController</servlet-name>
  	<url-pattern>/editEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployeeController</servlet-name>
  	<url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEmployeeController</servlet-name>
  	<url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSalesReportController</servlet-name>
  	<url-pattern>/getSalesReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetItemsController</servlet-name>
  	<url-pattern>/getItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBestsellersController</servlet-name>
  	<url-pattern>/getBestsellers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetHighestRevenueController</servlet-name>
  	<url-pattern>/getHighestRevenue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetHighestRevenueCustomerController</servlet-name>
  	<url-pattern>/getHighestRevenueCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSummaryListingController</servlet-name>
  	<url-pattern>/getSummaryListing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetItemSuggestionsController</servlet-name>
  	<url-pattern>/getItemSuggestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCustomerMailingListController</servlet-name>
  	<url-pattern>/getCustomerMailingList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCustomerController</servlet-name>
  	<url-pattern>/editCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCustomerController</servlet-name>
  	<url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAuctionsController</servlet-name>
  	<url-pattern>/getAuctions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidHistoryController</servlet-name>
  	<url-pattern>/bidHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCustomerAuctionsController</servlet-name>
  	<url-pattern>/getCustomerAuctions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PersonalizedSuggestionsController</servlet-name>
  	<url-pattern>/personalizedSuggestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOpenAuctionsController</servlet-name>
  	<url-pattern>/getOpenAuctions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecordSaleController</servlet-name>
  	<url-pattern>/recordSale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAuctionHistoryController</servlet-name>
  	<url-pattern>/getAuctionHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSellersController</servlet-name>
  	<url-pattern>/getSellers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetItemsBySellerController</servlet-name>
  	<url-pattern>/getItemsBySeller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchItemsController</servlet-name>
  	<url-pattern>/searchItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchItemsByNameController</servlet-name>
  	<url-pattern>/searchItemsByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchItemsByTypeController</servlet-name>
  	<url-pattern>/searchItemsByType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBestsellersForCustomerController</servlet-name>
  	<url-pattern>/getBestsellersForCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BidInAuctionController</servlet-name>
  	<url-pattern>/bidInAuction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitBidController</servlet-name>
  	<url-pattern>/submitBid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetSalesController</servlet-name>
  	<url-pattern>/getSales</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCustomerController</servlet-name>
  	<url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCustomerController</servlet-name>
  	<url-pattern>/updateCustomer</url-pattern>
  </servlet-mapping>
</web-app>
